.page{
  background-image: url(https://www.xmple.com/wallpaper/linear-blue-gradient-1920x1080-c2-00bfff-b0e0e6-a-15-f-14.svg);
  opacity: 0.8;
}

.top{
  display: flex;
  justify-content: space-evenly;
}
.redirect{
  padding: 5px;
  display: flex;
  height: auto;
  flex-grow: 1;
  justify-content: center;
  background: grey;
}
.link{
  color: black;
  font-style: italic;
}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  }
.gallery{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.galleryElement{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  background: lightgrey;

}
.galleryImg{
  height: 200px;
  width: auto;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 4px solid red;
}
.display{
  height: 150px;
  width: 150px;
}
.memeSelect{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 4px solid grey;
}
